{{ zfs_pool }}/ROOT/alpine	/		zfs	rw,relatime,xattr,posixacl,casesensitive 0 1
{% if 'desktops' in group_names %}
{{ zfs_pool }}/ROOT/home	/home		zfs	rw,relatime,xattr,posixacl,casesensitive,nosuid,nodev,noexec 0 1
{% endif %}
LABEL=efi		/efi		vfat	rw,relatime,fmask=0022,dmask=0022,codepage=437,iocharset=utf8,shortname=mixed,errors=remount-ro 0 2
/dev/mapper/boot	/boot		ext4	rw,relatime,noauto 0 2
tmpfs			/tmp		tmpfs	nosuid,nodev	0	0

{% for sub in home_bind_mounts | default([]) %}
/opt/{{ desktop_user }}/{{ sub }}	/home/{{ desktop_user }}/{{ sub }}	none	defaults,nosuid,nodev,bind	0 0
{% endfor %}
